@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Libre+Bodoni:ital@0;1&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import '../utilities/variables';
@import '../utilities/utilities';

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    @include custom-properties;
    min-height: calc(var(--kb-vh) * 100);
    margin: 0;
    background-color: var(--kb-color-background);
    color: var(--kb-color-text);
    font-family: var(--kb-font-family-body);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
}

a {
    color: var(--kb-color-text-link);

    &:hover {
        color: var(--kb-color-text-link-hover);
    }
}

.#{$kb-prefix} {
    &-freeze {
        overflow: hidden;
    }

    &-gallery {
        transition: transform 500ms ease 500ms;

        &--shifted {
            transform: translateY(calc(var(--kb-hero-height) * -1));

            @media #{$kb-mq-medium} {
                transform: none;
            }
        }
    }

    &-project {
        flex: 0 0 20%;
        overflow: hidden;

        @media #{$kb-mq-x-large} {
            flex-basis: 25%;
        }

        @media #{$kb-mq-medium} {
            flex-basis: 33.333%;
        }

        @media #{$kb-mq-small} {
            flex-basis: 50%;
        }

        &-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            pointer-events: none;

            @media #{$kb-mq-medium} {
                pointer-events: auto;
            }

            &--enabled {
                pointer-events: auto;
            }
        }

        &__link {
            display: block;
            position: relative;
            aspect-ratio: 6 /4;
        }

        &__thumbnail {
            position: absolute;
            inset: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            margin-top: 100%;
            opacity: 0;
            transition: all 250ms ease;

            @media #{$kb-mq-medium} {
                margin-top: 0;
                opacity: 1;
            }

            .#{$kb-prefix}-project--loaded &,
            .#{$kb-prefix}-project--shown & {
                margin-top: 0;
                opacity: 1;
            }

            .#{$kb-prefix}-project--shown & {
                transition-property: transform, filter;
            }

            .#{$kb-prefix}-project__link:hover &,
            .#{$kb-prefix}-project__link:focus & {
                transform: scale(1.05);
                filter: blur(5px) saturate(0.75);
            }
        }

        
        &__hover-tile {
            position: absolute;
            inset: 0;
            padding: 15% 15%;
            opacity: 0;
            transition: opacity 250ms ease;
            background-color: var(--kb-color-project-background);

            @media #{$kb-mq-large} {
                padding: 13.25%;
            }

            @media #{$kb-mq-medium} {
                padding: 10%;
            }
    
            .#{$kb-prefix}-project__link:hover &,
            .#{$kb-prefix}-project__link:focus & {
                opacity: 1;
            }
        }
            
        &__name,
        &__tags {
            display: block;
            position: relative;
            color: var(--kb-color-text);
            transform: translateX(-1rem);
            transition: all 250ms ease 150ms;
            opacity: 0;

            .#{$kb-prefix}-project__link:hover &,
            .#{$kb-prefix}-project__link:focus & {
                transform: none;
                opacity: 1;
            }
        }

        &__name {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.25;
            color: var(--kb-color-brand);
            transition-delay: 100ms;
            padding-right: 25%;

            @media #{$kb-mq-large} {
                font-size: 1.125rem;
                padding-right: 0;
            }

            @media #{$kb-mq-small} {
                display: none;
            }
        }

        &__tags {
            list-style: none;
            padding: 0;
            margin: 0.375rem 0 0;
            display: flex;

            @media #{$kb-mq-small} {
                display: none;
            }

            > li {
                font-size: 0.75rem;
                padding: 0.25rem;
                margin-right: 0.25rem;
                line-height: 1;
                border: thin solid var(--kb-color-tag-border);
                border-radius: 0.25rem;
            }
        }
    }

    &-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem;
        opacity: 0;
        transition: opacity 500ms ease 750ms;
        
        @media #{$kb-mq-large} {
            padding: 6rem;
        }

        @media #{$kb-mq-medium} {
            opacity: 1;
        }

        @media #{$kb-mq-small} {
            padding: 3rem;
        }

        @media #{$kb-mq-x-small} {
            padding: 2rem;
        }

        &--shown {
            opacity: 1;
        }

        p {
            margin: 0;

            + p {
                @media #{$kb-mq-small} {
                    margin-top: 0.5rem;
                }
            }
        }
    }

    @include utilities;
}