@mixin checkbox {
    &-checkbox {
        display: flex;
    
        &__label {
            display: block;
            line-height: 1;
            margin-left: 0.25rem;
            padding-top: 0.125rem;
        }
    }
}