@mixin common {
    * {
        box-sizing: border-box;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }

    &-assistive-text {
        position: absolute !important;
        margin: -1px !important;
        border: 0 !important;
        padding: 0 !important;
        width: 1px !important;
        height: 1px !important;
        overflow: hidden !important;
        clip: rect(0 0 0 0) !important;
        text-transform: none !important;
        white-space: nowrap !important;
    }

    &-position {
        &--relative {
            position: relative;
        }

        &--absolute {
            position: absolute;
        }

        &--sticky {
            position: sticky;
        }

        &--fixed {
            position: fixed;
        }
    }

    &-container {
        max-width: 1280px;
        margin: 0 auto;
    }

    &-text-heading {
        font-family: var(--kb-font-family-display);
        font-weight: 400;
        line-height: 1.25;
        margin: 1rem 0;
    
        &--small {
            font-size: 1.5rem;
        }
    
        &--medium {
            font-size: 2.5rem;
        }
    
        &--large {
            font-size: 3.5rem;
        }
    }
    
    &-font-color {
        &--brand {
            color: var(--kb-color-brand);
        }
    }
}