@mixin project-modal {
    &-project-modal {
        position: fixed;
        inset: 0;
        z-index: 9000;
        opacity: 0;
        transition: opacity 100ms ease;

        &--shown {
            opacity: 1;
        }

        &__backdrop {
            position: absolute;
            overflow: hidden;
            opacity: 0;
            transition: all 250ms ease, opacity 100ms ease;
            
            &::after {
                content: '';
                display: block;
                position: absolute;
                inset: 0;
                background-color: var(--kb-color-project-background);
            }
        }

        &__background {
            display: block;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1.25);
            filter: blur(15px) saturate(0.75);
        }

        &__content {
            height: 100%;
            overflow-y: auto;
            padding: 4rem;
            position: relative;
            z-index: 1;
            opacity: 0;
            transition: opacity 250ms ease 250ms;

            &--shown {
                opacity: 1;
            }
        }

        &__close {
            display: block;
            cursor: pointer;
            background-color: transparent;
            color: var(--kb-tex-color);
            font-size: 2.625rem;
            line-height: 0;
            width: 2rem;
            height: 2rem;
            padding: 0;
            border: none;
            border-radius: 0.25rem;
            position: fixed;
            top: 4rem;
            right: 4rem;
            -webkit-appearance: none;
            -moz-appearance: none;

            &:hover,
            &:focus,
            &:active {
                color: var(--kb-color-brand);
            }
            
            &:focus,
            &:active {
                outline: none;
                box-shadow: var(--kb-shadow--focus);
            }
        }

        &__name {
            display: block;
            padding-right: 6rem;
            line-height: 1.25;
            margin: -0.625rem 0 0 0;
        }
        
        &__detail {
            flex: 0 0 auto;
            padding-right: 2rem;
            margin-top: 1rem;

            &-list {
                display: flex;
                width: 100%;
                list-style: none;
                padding: 0 6rem 0 0;
                margin: 0;
            }
        }
    }
}