@mixin utility {
    &-text {
        &-size {
            &--small {
                font-size: 0.75rem;
            }
        }

        &-align {
            &--center {
                text-align: center;
            }
            
            &--left {
                text-align: left;
            }
            
            &--right {
                text-align: right;
            }
        }

        &-heading {
            display: block;
            font-family: var(--kb-font-family-display);
            font-weight: 400;
            line-height: 1.25;
            margin: 1rem 0;
        
            &--small {
                font-size: 1.5rem;
            }
        
            &--medium {
                font-size: 2.5rem;
            }
        
            &--large {
                font-size: 3.5rem;
            }
        }
        
        &-color {
            &--brand {
                color: var(--kb-color-brand);
            }
            
            &--regular {
                color: var(--kb-color-text);
            }
        }
    }

    &-position {
        &--relative {
            position: relative;
        }

        &--sticky {
            position: sticky;
        }

        &--absolute {
            position: absolute;
        }

        &--fixed {
            position: fixed;
        }
    }

    &-flex {
        &--shrink {
            flex-shrink: 1;

            &-none {
                flex-shrink: 0;
            }
        }

        &--grow {
            flex-grow: 1;

            &-none {
                flex-grow: 0;
            }
        }
    }

    &-list {
        &--horizontal {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;

            > li {
                flex: 0 0 auto;

                &:not(:last-child)::after {
                    content: '•';
                    display: inline-block;
                    font-size: 0.75rem;
                    margin: 0 0.5rem;
                }
            }
        }
    }

    &-p {
        &-around {
            &--none {
                padding: 0;
            }

            &--xx-small {
                padding: var(--kb-spacing-xx-small);
            }

            &--x-small {
                padding: var(--kb-spacing-x-small);
            }

            &--small {
                padding: var(--kb-spacing-small);
            }

            &--medium {
                padding: var(--kb-spacing-medium);
            }

            &--large {
                padding: var(--kb-spacing-large);
            }

            &--x-large {
                padding: var(--kb-spacing-x-large);
            }

            &--xx-large {
                padding: var(--kb-spacing-xx-large);
            }
        }

        &-vertical {
            &--none {
                padding-top: 0;
                padding-bottom: 0;
            }

            &--xx-small {
                padding-top: var(--kb-spacing-xx-small);
                padding-bottom: var(--kb-spacing-xx-small);
            }

            &--x-small {
                padding-top: var(--kb-spacing-x-small);
                padding-bottom: var(--kb-spacing-x-small);
            }

            &--small {
                padding-top: var(--kb-spacing-small);
                padding-bottom: var(--kb-spacing-small);
            }

            &--medium {
                padding-top: var(--kb-spacing-medium);
                padding-bottom: var(--kb-spacing-medium);
            }

            &--large {
                padding-top: var(--kb-spacing-large);
                padding-bottom: var(--kb-spacing-large);
            }

            &--x-large {
                padding-top: var(--kb-spacing-x-large);
                padding-bottom: var(--kb-spacing-x-large);
            }

            &--xx-large {
                padding-top: var(--kb-spacing-xx-large);
                padding-bottom: var(--kb-spacing-xx-large);
            }
        }

        &-horizontal {
            &--none {
                padding-left: 0;
                padding-right: 0;
            }

            &--xx-small {
                padding-left: var(--kb-spacing-xx-small);
                padding-right: var(--kb-spacing-xx-small);
            }

            &--x-small {
                padding-left: var(--kb-spacing-x-small);
                padding-right: var(--kb-spacing-x-small);
            }

            &--small {
                padding-left: var(--kb-spacing-small);
                padding-right: var(--kb-spacing-small);
            }

            &--medium {
                padding-left: var(--kb-spacing-medium);
                padding-right: var(--kb-spacing-medium);
            }

            &--large {
                padding-left: var(--kb-spacing-large);
                padding-right: var(--kb-spacing-large);
            }

            &--x-large {
                padding-left: var(--kb-spacing-x-large);
                padding-right: var(--kb-spacing-x-large);
            }

            &--xx-large {
                padding-left: var(--kb-spacing-xx-large);
                padding-right: var(--kb-spacing-xx-large);
            }
        }

        &-top {
            &--none {
                padding-top: 0;
            }

            &--xx-small {
                padding-top: var(--kb-spacing-xx-small);
            }

            &--x-small {
                padding-top: var(--kb-spacing-x-small);
            }

            &--small {
                padding-top: var(--kb-spacing-small);
            }

            &--medium {
                padding-top: var(--kb-spacing-medium);
            }

            &--large {
                padding-top: var(--kb-spacing-large);
            }

            &--x-large {
                padding-top: var(--kb-spacing-x-large);
            }

            &--xx-large {
                padding-top: var(--kb-spacing-xx-large);
            }
        }

        &-right {
            &--none {
                padding-right: 0;
            }

            &--xx-small {
                padding-right: var(--kb-spacing-xx-small);
            }

            &--x-small {
                padding-right: var(--kb-spacing-x-small);
            }

            &--small {
                padding-right: var(--kb-spacing-small);
            }

            &--medium {
                padding-right: var(--kb-spacing-medium);
            }

            &--large {
                padding-right: var(--kb-spacing-large);
            }

            &--x-large {
                padding-right: var(--kb-spacing-x-large);
            }

            &--xx-large {
                padding-right: var(--kb-spacing-xx-large);
            }
        }

        &-bottom {
            &--none {
                padding-bottom: 0;
            }

            &--xx-small {
                padding-bottom: var(--kb-spacing-xx-small);
            }

            &--x-small {
                padding-bottom: var(--kb-spacing-x-small);
            }

            &--small {
                padding-bottom: var(--kb-spacing-small);
            }

            &--medium {
                padding-bottom: var(--kb-spacing-medium);
            }

            &--large {
                padding-bottom: var(--kb-spacing-large);
            }

            &--x-large {
                padding-bottom: var(--kb-spacing-x-large);
            }

            &--xx-large {
                padding-bottom: var(--kb-spacing-xx-large);
            }
        }

        &-left {
            &--none {
                padding-left: 0;
            }

            &--xx-small {
                padding-left: var(--kb-spacing-xx-small);
            }

            &--x-small {
                padding-left: var(--kb-spacing-x-small);
            }

            &--small {
                padding-left: var(--kb-spacing-small);
            }

            &--medium {
                padding-left: var(--kb-spacing-medium);
            }

            &--large {
                padding-left: var(--kb-spacing-large);
            }

            &--x-large {
                padding-left: var(--kb-spacing-x-large);
            }

            &--xx-large {
                padding-left: var(--kb-spacing-xx-large);
            }
        }
    }

    &-m {
        &-around {
            &--none {
                margin: 0;
            }

            &--xx-small {
                margin: var(--kb-spacing-xx-small);
            }

            &--x-small {
                margin: var(--kb-spacing-x-small);
            }

            &--small {
                margin: var(--kb-spacing-small);
            }

            &--medium {
                margin: var(--kb-spacing-medium);
            }

            &--large {
                margin: var(--kb-spacing-large);
            }

            &--x-large {
                margin: var(--kb-spacing-x-large);
            }

            &--xx-large {
                margin: var(--kb-spacing-xx-large);
            }
        }

        &-vertical {
            &--none {
                margin-top: 0;
                margin-bottom: 0;
            }

            &--xx-small {
                margin-top: var(--kb-spacing-xx-small);
                margin-bottom: var(--kb-spacing-xx-small);
            }

            &--x-small {
                margin-top: var(--kb-spacing-x-small);
                margin-bottom: var(--kb-spacing-x-small);
            }

            &--small {
                margin-top: var(--kb-spacing-small);
                margin-bottom: var(--kb-spacing-small);
            }

            &--medium {
                margin-top: var(--kb-spacing-medium);
                margin-bottom: var(--kb-spacing-medium);
            }

            &--large {
                margin-top: var(--kb-spacing-large);
                margin-bottom: var(--kb-spacing-large);
            }

            &--x-large {
                margin-top: var(--kb-spacing-x-large);
                margin-bottom: var(--kb-spacing-x-large);
            }

            &--xx-large {
                margin-top: var(--kb-spacing-xx-large);
                margin-bottom: var(--kb-spacing-xx-large);
            }
        }

        &-horizontal {
            &--none {
                margin-left: 0;
                margin-right: 0;
            }

            &--xx-small {
                margin-left: var(--kb-spacing-xx-small);
                margin-right: var(--kb-spacing-xx-small);
            }

            &--x-small {
                margin-left: var(--kb-spacing-x-small);
                margin-right: var(--kb-spacing-x-small);
            }

            &--small {
                margin-left: var(--kb-spacing-small);
                margin-right: var(--kb-spacing-small);
            }

            &--medium {
                margin-left: var(--kb-spacing-medium);
                margin-right: var(--kb-spacing-medium);
            }

            &--large {
                margin-left: var(--kb-spacing-large);
                margin-right: var(--kb-spacing-large);
            }

            &--x-large {
                margin-left: var(--kb-spacing-x-large);
                margin-right: var(--kb-spacing-x-large);
            }

            &--xx-large {
                margin-left: var(--kb-spacing-xx-large);
                margin-right: var(--kb-spacing-xx-large);
            }
        }

        &-top {
            &--none {
                margin-top: 0;
            }

            &--xx-small {
                margin-top: var(--kb-spacing-xx-small);
            }

            &--x-small {
                margin-top: var(--kb-spacing-x-small);
            }

            &--small {
                margin-top: var(--kb-spacing-small);
            }

            &--medium {
                margin-top: var(--kb-spacing-medium);
            }

            &--large {
                margin-top: var(--kb-spacing-large);
            }

            &--x-large {
                margin-top: var(--kb-spacing-x-large);
            }

            &--xx-large {
                margin-top: var(--kb-spacing-xx-large);
            }
        }

        &-right {
            &--none {
                margin-right: 0;
            }

            &--xx-small {
                margin-right: var(--kb-spacing-xx-small);
            }

            &--x-small {
                margin-right: var(--kb-spacing-x-small);
            }

            &--small {
                margin-right: var(--kb-spacing-small);
            }

            &--medium {
                margin-right: var(--kb-spacing-medium);
            }

            &--large {
                margin-right: var(--kb-spacing-large);
            }

            &--x-large {
                margin-right: var(--kb-spacing-x-large);
            }

            &--xx-large {
                margin-right: var(--kb-spacing-xx-large);
            }
        }

        &-bottom {
            &--none {
                margin-bottom: 0;
            }

            &--xx-small {
                margin-bottom: var(--kb-spacing-xx-small);
            }

            &--x-small {
                margin-bottom: var(--kb-spacing-x-small);
            }

            &--small {
                margin-bottom: var(--kb-spacing-small);
            }

            &--medium {
                margin-bottom: var(--kb-spacing-medium);
            }

            &--large {
                margin-bottom: var(--kb-spacing-large);
            }

            &--x-large {
                margin-bottom: var(--kb-spacing-x-large);
            }

            &--xx-large {
                margin-bottom: var(--kb-spacing-xx-large);
            }
        }

        &-left {
            &--none {
                margin-left: 0;
            }

            &--xx-small {
                margin-left: var(--kb-spacing-xx-small);
            }

            &--x-small {
                margin-left: var(--kb-spacing-x-small);
            }

            &--small {
                margin-left: var(--kb-spacing-small);
            }

            &--medium {
                margin-left: var(--kb-spacing-medium);
            }

            &--large {
                margin-left: var(--kb-spacing-large);
            }

            &--x-large {
                margin-left: var(--kb-spacing-x-large);
            }

            &--xx-large {
                margin-left: var(--kb-spacing-xx-large);
            }
        }
    }
}