$kb-mq-large: only screen and (max-width: 1200px);
$kb-mq-medium: only screen and (max-width: 1024px);
$kb-mq-small: only screen and (max-width: 768px);

@mixin custom-properties {
    --kb-vh: 1vh;
    --kb-mq-x-small: 'only screen and (max-width: 480px)';
    --kb-font-family-display: 'Libre Bodoni', serif;
    --kb-font-family-body: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    --kb-color-brand: #f68b1f;
    --kb-color-text-inverse: white;
    --kb-color-text-default: #1e1e1e;
    --kb-color-text: var(--kb-color-text-inverse);
    --kb-color-text-link: var(--kb-color-brand);
    --kb-color-text-link-hover: #d8791a;
    --kb-color-background-dark: #1e1e1e;
    --kb-color-background-light: #f8f6f6;
    --kb-color-background: var(--kb-color-background-dark);
    --kb-color-project-background-dark: rgba(0, 0, 0, 0.825);
    --kb-color-project-background-light: rgba(255, 255, 255, 0.825);
    --kb-color-project-background: var(--kb-color-project-background-dark);
    --kb-spacing-xx-small: 0.25rem;
    --kb-spacing-x-small: 0.5rem;
    --kb-spacing-small: 0.75rem;
    --kb-spacing-medium: 1rem;
    --kb-spacing-large: 1.5rem;
    --kb-spacing-x-large: 2rem;
    --kb-spacing-xx-large: 3rem;
    --kb-shadow--focus: 0 0 4px var(--kb-color-brand);

    @media (prefers-color-scheme: light) {
        --kb-color-text: var(--kb-color-text-default);
        --kb-color-background: var(--kb-color-background-light);
        --kb-color-project-background: var(--kb-color-project-background-light);
    }

    @media (prefers-color-scheme: dark) {
        --kb-color-text: var(--kb-color-text-inverse);
        --kb-color-background: var(--kb-color-background-dark);
        --kb-color-project-background: var(--kb-color-project-background-dark);
    }
}