$kb-mq-large: only screen and (max-width: 1280px);
$kb-mq-medium: only screen and (max-width: 1024px);
$kb-mq-small: only screen and (max-width: 768px);

@mixin custom-properties {
    --kb-vh: 1vh;
    --kb-mq-x-small: 'only screen and (max-width: 480px)';
    --kb-font-family-display: 'Libre Bodoni', serif;
    --kb-font-family-body: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    --kb-color-brand: #f68b1f;
    --kb-color-font-inverse: white;
    --kb-color-font-default: #1e1e1e;
    --kb-color-font: var(--kb-color-font-inverse);
    --kb-color-background-dark: #1e1e1e;
    --kb-color-background-light: #f2f0f0;
    --kb-color-background: var(--kb-color-background-dark);
    --kb-color-project-background-dark: rgba(0, 0, 0, 0.75);
    --kb-color-project-background-light: rgba(255, 255, 255, 0.75);
    --kb-color-project-background: var(--kb-color-project-background-dark);
    --kb-spacing-xx-small: 0.25rem;
    --kb-spacing-x-small: 0.5rem;
    --kb-spacing-small: 0.75rem;
    --kb-spacing-medium: 1rem;
    --kb-spacing-large: 1.5rem;
    --kb-spacing-x-large: 2rem;
    --kb-spacing-xx-large: 3rem;
    --kb-shadow--focus: 0 0 4px var(--kb-color-brand);
}