@import 'normalize';
@import 'variables';
@import 'checkbox';
@import 'project-modal';
@import 'carousel';
@import 'utility';
@import 'https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@0;1&display=swap';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css';

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    @include custom-properties;
    min-height: calc(var(--kb-vh) * 100);
    margin: 0;
    background-color: var(--kb-color-background);
    color: var(--kb-color-text);
    font-family: var(--kb-font-family-body);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;

    &.kb-freeze {
        overflow: hidden;
    }
}

a {
    color: var(--kb-color-text-link);

    &:hover {
        color: var(--kb-color-text-link-hover);
    }
}

.kb {
    &-logo {
        display: block;
        width: 10rem;

        @media (prefers-color-scheme: dark) {
            display: none;
        }

        &--inverse {
            display: block;
            width: 10rem;

            @media (prefers-color-scheme: light) {
                display: none;
            }
        }
    }

    &-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    &-hero {
        margin-top: calc(var(--kb-hero-height) * -1);
        opacity: 0;
        
        &--loaded {
            margin-top: 0;
            opacity: 1;
            transition: margin-top 500ms ease 500ms, opacity 500ms ease 750ms;
        }

        &__layout {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 8rem;
    
            @media #{$kb-mq-large} {
                padding: 6rem;
            }
        }

        &__content {
            flex: 0 0 auto;
        }

        &__description {
            margin-top: 2rem;
            max-width: 27.5rem;
        }

        &__sidebar {
            flex: 0 0 auto;
            padding-top: 6.75rem;
        }

        &__link {
            display: block;
            position: relative;
            color: var(--kb-color-text);
            text-decoration: none;

            &-list {
                list-style: none;
                padding-left: 2.75rem;
                display: flex;
                margin: 1.25rem 0 0;
            }

            a {
                display: block;
                padding: 0.5rem 0.525rem;
                border-radius: 0.25rem;
                color: var(--kb-color-text);
                text-decoration: none;
                line-height: 1;

                &:hover,
                &:focus,
                &:active {
                    color: var(--kb-color-brand);
                }
            
                &:focus,
                &:active {
                    outline: none;
                    box-shadow: var(--kb-shadow--focus);
                }
            }

            &-label {
                display: block;
                font-size: 0.8rem;
                color: var(--kb-color-brand);
                pointer-events: none;
                position: absolute;
                top: calc(100% - 0.125rem);
                left: 50%;
                transform: translateX(-50%) translateY(-0.5rem);
                opacity: 0;
                transition: all 250ms ease;

                .kb-hero__link:hover & {
                    opacity: 1;
                    transform: translateX(-50%);
                }
            }
        }

        &__controls {
            padding: 0 0 0 3rem;
            margin-top: 4.3rem;
            border: none;
        }
    }

    &-gallery {
        margin-bottom: 4rem;
    }

    &-project {
        flex: 0 0 25%;
        overflow: hidden;

        &__list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__link {
            display: block;
            position: relative;
            padding-bottom: 66.666%;
        }

        &__thumbnail {
            position: absolute;
            inset: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            margin-top: 100%;
            opacity: 0;
            transition: all 250ms ease;

            .kb-project--loaded &,
            .kb-project--revealed & {
                margin-top: 0;
                opacity: 1;
            }

            .kb-project--revealed & {
                transition-property: transform, filter;
            }

            .kb-project__link:hover &,
            .kb-project__link:focus & {
                transform: scale(1.05);
                filter: blur(5px) saturate(0.75);
            }
        }

        
        &__hover-tile {
            position: absolute;
            inset: 0;
            padding: 15% 35% 15% 15%;
            opacity: 0;
            transition: opacity 250ms ease;
            background-color: var(--kb-color-project-background);
    
            .kb-project__link:hover &,
            .kb-project__link:focus & {
                opacity: 1;
            }
        }
            
        &__name,
        &__year {
            display: block;
            position: relative;
            color: var(--kb-color-text);
            transform: translateX(-1rem);
            transition: all 250ms ease 150ms;
            opacity: 0;

            .kb-project__link:hover &,
            .kb-project__link:focus & {
                transform: none;
                opacity: 1;
            }
        }

        &__name {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.25;
            color: var(--kb-color-brand);
            transition-delay: 100ms;
        }
    }

    &-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 4rem 4rem;
        opacity: 0;
        transition: opacity 500ms ease 750ms;

        &--loaded {
            opacity: 1;
        }
    }

    @include checkbox;
    @include project-modal;
    @include carousel;
    @include utility;
}