@import 'variables';
@import 'checkbox';
@import 'project-modal';
@import 'carousel';
@import 'utility';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Libre+Bodoni:ital@0;1&display=swap';
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css';

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    @include custom-properties;
    min-height: calc(var(--kb-vh) * 100);
    margin: 0;
    background-color: var(--kb-color-background);
    color: var(--kb-color-text);
    font-family: var(--kb-font-family-body);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
}

a {
    color: var(--kb-color-text-link);

    &:hover {
        color: var(--kb-color-text-link-hover);
    }
}

.kb {
    &-logo {
        display: block;
        width: 10rem;

        @media (prefers-color-scheme: dark) {
            display: none;
        }

        &--inverse {
            display: block;
            width: 10rem;

            @media (prefers-color-scheme: light) {
                display: none;
            }
        }
    }

    &-hero {
        margin-top: calc(var(--kb-hero-height) * -1);
        opacity: 0;

        @media #{$kb-mq-medium} {
            margin-top: 0;
            opacity: 1;
        }
        
        &--loaded {
            margin-top: 0;
            opacity: 1;
            transition: margin-top 500ms ease 500ms, opacity 500ms ease 750ms;
        }

        &__layout {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 7.75rem 8rem 8rem;
    
            @media #{$kb-mq-large} {
                padding: 5.75rem 6rem 6rem;
            }

            @media #{$kb-mq-medium} {
                flex-wrap: wrap;
                justify-content: flex-end;
            }

            @media #{$kb-mq-small} {
                padding: 2.75rem 3rem 3rem;
            }

            @media #{$kb-mq-x-small} {
                padding: 1.75rem 2rem 2rem;
            }
        }

        &__content {
            flex: 0 0 auto;

            @media #{$kb-mq-medium} {
                flex: 0 0 100%;
            }
            
            br {
                @media #{$kb-mq-x-small} {
                    display: none;
                }
            }

            h1 {
                @media #{$kb-mq-small} {
                    padding-right: 3rem;
                }
            }
        }

        &__description {
            margin-top: 2rem;
            max-width: 25rem;
        }

        &__sidebar {
            flex: 0 0 auto;
            padding-top: 6.75rem;

            @media #{$kb-mq-medium} {
                padding-top: 0;
                margin-bottom: 2rem;
            }

            @media #{$kb-mq-x-small} {
                margin-bottom: 1.5rem;
            }
        }

        &__link {
            display: block;
            position: relative;
            color: var(--kb-color-text);
            text-decoration: none;

            &-list {
                list-style: none;
                padding-left: 2.75rem;
                display: flex;
                margin: 1.25rem 0 0;
            }

            a {
                display: block;
                padding: 0.5rem 0.525rem;
                border-radius: 0.25rem;
                color: var(--kb-color-text);
                text-decoration: none;
                line-height: 1;

                &:hover,
                &:focus,
                &:active {
                    color: var(--kb-color-brand);
                }
            
                &:focus,
                &:active {
                    outline: none;
                    box-shadow: var(--kb-shadow--focus);
                }
            }

            &-label {
                display: block;
                font-size: 0.8rem;
                color: var(--kb-color-brand);
                pointer-events: none;
                position: absolute;
                top: calc(100% - 0.125rem);
                left: 50%;
                transform: translateX(-50%) translateY(-0.5rem);
                opacity: 0;
                transition: all 250ms ease;

                .kb-hero__link > a:hover + & {
                    opacity: 1;
                    transform: translateX(-50%);
                }
            }
        }

        &__controls {
            padding: 0 0 0 3rem;
            margin-top: 4.3rem;
            border: none;

            @media #{$kb-mq-medium} {
                padding: 0;
                margin-top: 4rem;
                width: 100%;
                flex: 1 1 100%;
            }

            @media #{$kb-mq-small} {
                margin-top: 1.25rem;
            }
        }

        &__filters {
            @media #{$kb-mq-medium} {
                display: flex;
            }

            @media #{$kb-mq-x-small} {
                display: block;
                margin-bottom: 0.5rem;
            }

            .kb-checkbox {
                @media #{$kb-mq-medium} {
                    margin-right: 0.5rem;
                }

                @media #{$kb-mq-x-small} {
                    margin-right: 0;
                }
            }
        }
    }

    &-project {
        flex: 0 0 20%;
        overflow: hidden;

        @media #{$kb-mq-x-large} {
            flex-basis: 25%;
        }

        @media #{$kb-mq-medium} {
            flex-basis: 33.333%;
        }

        @media #{$kb-mq-small} {
            flex-basis: 50%;
        }

        &-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            pointer-events: none;

            @media #{$kb-mq-medium} {
                pointer-events: auto;
            }

            &--loaded {
                pointer-events: auto;
            }
        }

        &__link {
            display: block;
            position: relative;
            padding-bottom: 66.666%;
        }

        &__thumbnail {
            position: absolute;
            inset: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            margin-top: 100%;
            opacity: 0;
            transition: all 250ms ease;

            @media #{$kb-mq-medium} {
                margin-top: 0;
                opacity: 1;
            }

            .kb-project--loaded &,
            .kb-project--revealed & {
                margin-top: 0;
                opacity: 1;
            }

            .kb-project--revealed & {
                transition-property: transform, filter;
            }

            .kb-project__link:hover &,
            .kb-project__link:focus & {
                transform: scale(1.05);
                filter: blur(5px) saturate(0.75);
            }
        }

        
        &__hover-tile {
            position: absolute;
            inset: 0;
            padding: 15% 35% 15% 15%;
            opacity: 0;
            transition: opacity 250ms ease;
            background-color: var(--kb-color-project-background);

            @media #{$kb-mq-large} {
                padding: 13.25% 30% 13.25% 13.25%;
            }

            @media #{$kb-mq-medium} {
                padding: 10% 30% 10% 10%;
            }
    
            .kb-project__link:hover &,
            .kb-project__link:focus & {
                opacity: 1;
            }
        }
            
        &__name,
        &__year {
            display: block;
            position: relative;
            color: var(--kb-color-text);
            transform: translateX(-1rem);
            transition: all 250ms ease 150ms;
            opacity: 0;

            @media #{$kb-mq-small} {
                display: none;
            }

            .kb-project__link:hover &,
            .kb-project__link:focus & {
                transform: none;
                opacity: 1;
            }
        }

        &__name {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.25;
            color: var(--kb-color-brand);
            transition-delay: 100ms;

            @media #{$kb-mq-medium} {
                font-size: 1.125rem;
            }
        }
    }

    &-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem;
        opacity: 0;
        transition: opacity 500ms ease 750ms;
        
        @media #{$kb-mq-large} {
            padding: 6rem;
        }

        @media #{$kb-mq-medium} {
            opacity: 1;
        }

        @media #{$kb-mq-small} {
            padding: 3rem;
        }

        @media #{$kb-mq-x-small} {
            padding: 2rem;
        }

        &--loaded {
            opacity: 1;
        }

        p {
            margin: 0;

            + p {
                @media #{$kb-mq-small} {
                    margin-top: 0.5rem;
                }
            }
        }
    }

    @include checkbox;
    @include project-modal;
    @include carousel;
    @include utility;
}